{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-information" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-label" class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs" id="language">
            {% for language in languages %}
              <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% for language in languages %}
              <div class="tab-pane" id="language{{ language.language_id }}">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-text{{ language.language_id }}">{{ entry_text }}</label>
                  <div class="col-sm-10">
                    <input type="text" name="label_description[{{ language.language_id }}][text]" value="{{ label_description[language.language_id] ? label_description[language.language_id].text }}" placeholder="{{ entry_text }}" id="input-title{{ language.language_id }}" class="form-control" />
                    {% if error_text[language.language_id] %}
                      <div class="text-danger">{{ error_text[language.language_id] }}</div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ text_text_or_image }}</label>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                  <div class="col-sm-10">
                    <a href="" id="thumb-image{{ language.language_id }}" data-toggle="image" class="img-thumbnail mt-10">
                      <img src="{{ label_description[language.language_id] ? label_description[language.language_id].thumb : img_placeholder }}" alt="" title="" data-placeholder="{{ img_placeholder }}"/>
                    </a>
                    {% if error_image[language.language_id] %}
                      <div class="text-danger">{{ error_image[language.language_id] }}</div>
                    {% endif %}
                    <input type="hidden" name="label_description[{{ language.language_id }}][image]" value="{{ label_description[language.language_id] ? label_description[language.language_id].image }}" id="input-image{{ language.language_id }}"/>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>{{ text_text_settings }}</h4>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-font-size">{{ entry_font_size }}</label>
            <div class="col-sm-4">
              <input type="text" name="font_size" value="{{ font_size }}" placeholder="{{ entry_font_size }}" id="input-font-size" class="form-control" />
            </div>
            <label class="col-sm-2 control-label" for="input-font-color">{{ entry_font_color }}</label>
            <div class="col-sm-4">
              <input type="text" name="font_color" value="{{ font_color }}" placeholder="{{ help_color }}" id="input-font-color" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-bg-color">{{ entry_bg_color }}</label>
            <div class="col-sm-4">
              <input type="text" name="bg_color" value="{{ bg_color }}" placeholder="{{ help_color }}" id="input-bg-color" class="form-control" />
            </div>
            <label class="col-sm-2 control-label" for="input-border-radius">{{ entry_border_radius }}</label>
            <div class="col-sm-4">
              <input type="text" name="border_radius" value="{{ border_radius }}" placeholder="{{ entry_border_radius }}" id="input-border-radius" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-padding">{{ entry_padding }}</label>
            <div class="col-sm-4">
              <input type="text" name="padding" value="{{ padding }}" placeholder="{{ entry_padding }}" id="input-padding" class="form-control" />
            </div>
            <div class="col-sm-4 col-sm-push-1">
              {{ help_padding }}
            </div>
          </div>
          <h4>{{ text_text_and_image_settings }}</h4>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-position-left">{{ entry_position_left }}</label>
            <div class="col-sm-5">
              <input type="text" name="position_left" value="{{ position_left }}" placeholder="{{ entry_position_left }}" id="input-position-left" class="form-control" />
            </div>
            <div class="col-sm-5">
              <select name="position_left_unit" id="input-position-left-unit" class="form-control">
                {% if position_left_unit == 'px' %}
                  <option value="px" selected="selected">{{ text_px }}</option>
                  <option value="%">{{ text_percent }}</option>
                {% else %}
                  <option value="px">{{ text_px }}</option>
                  <option value="%" selected="selected">{{ text_percent }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-position-top">{{ entry_position_top }}</label>
            <div class="col-sm-5">
              <input type="text" name="position_top" value="{{ position_top }}" placeholder="{{ entry_position_top }}" id="input-position-top" class="form-control" />
            </div>
            <div class="col-sm-5">
              <select name="position_top_unit" id="input-position-top-unit" class="form-control">
                {% if position_top_unit == 'px' %}
                  <option value="px" selected="selected">{{ text_px }}</option>
                  <option value="%">{{ text_percent }}</option>
                {% else %}
                  <option value="px">{{ text_px }}</option>
                  <option value="%" selected="selected">{{ text_percent }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-position-right">{{ entry_position_right }}</label>
            <div class="col-sm-5">
              <input type="text" name="position_right" value="{{ position_right }}" placeholder="{{ entry_position_right }}" id="input-position-right" class="form-control" />
            </div>
            <div class="col-sm-5">
              <select name="position_right_unit" id="input-position-right-unit" class="form-control">
                {% if position_right_unit == 'px' %}
                  <option value="px" selected="selected">{{ text_px }}</option>
                  <option value="%">{{ text_percent }}</option>
                {% else %}
                  <option value="px">{{ text_px }}</option>
                  <option value="%" selected="selected">{{ text_percent }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-position-bottom">{{ entry_position_bottom }}</label>
            <div class="col-sm-5">
              <input type="text" name="position_bottom" value="{{ position_bottom }}" placeholder="{{ entry_position_bottom }}" id="input-position-bottom" class="form-control" />
            </div>
            <div class="col-sm-5">
              <select name="position_bottom_unit" id="input-position-bottom-unit" class="form-control">
                {% if position_bottom_unit == 'px' %}
                  <option value="px" selected="selected">{{ text_px }}</option>
                  <option value="%">{{ text_percent }}</option>
                {% else %}
                  <option value="px">{{ text_px }}</option>
                  <option value="%" selected="selected">{{ text_percent }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script type="text/javascript"><!--
    $('#language a:first').tab('show');
  //--></script></div>
{{ footer }}